.Finances {
  padding-bottom: 70px;
  /* position: relative; */
}
.list {
    background-color: var(--white);
    border-radius: 8px;
    padding: 0.1rem 1rem;
    border: 1px solid var(--primary-light)
}

.button-container {
  margin-top: 1rem;
  position: sticky;
  bottom: 56px;
  right: 1rem;
  left: 2rem;
  display: flex;
  justify-content: flex-end;
}