.App {
  display: flex;
  max-width: 400px;
  min-width: 300px;
  margin: auto;
  padding: 20px;
  min-height: 100vh;
  min-height: 100dvh;
  height: 100vh;
  height: 100dvh;
  overflow: auto;
  scrollbar-width: none;
  background-color: var(--tg-theme-secondary-bg-color);
}

.main {
  display: grid;
  place-items: center;
}

label,
input,
button {
  font-size: 1rem;
}
