.FloatingActionButton {
    background-color: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
    padding: 0.6rem 1rem;
    /* color: var(--white); */
    font-weight: bold;
    border: 1px solid var(--tg-theme-button-color);
    border-radius: 30px;
    width: fit-content;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    /* box-shadow: 2px 2px 4px rgb(0 0 0 / 25%); */
}

.FloatingActionButton:hover {
    background-color: var(--accent-dark);
}

.FloatingActionButton:active {
    background-color: var(--accent-darker);
}

.FloatingActionButton svg {
    fill: var(--white);
}