.Onboarding {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.logo-container {
  min-height: '100px';
  align-self: 'center';
  display: flex;
}

.tagline h3 {
  text-align: center;
  margin: auto;
  margin-bottom: 1rem;
}
