.card {
    background-color: var(--tg-theme-bg-color);
    border-radius: 8px;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 15%);
    width: 100%;
    padding: 12px
}

.chart-container {
    padding: 1.5rem;
}