.Login {
  /* padding: 16px; */
  /* color: black; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.title {
  margin: 0;
  margin-bottom: 1rem;
}

.input-group {
  margin-bottom: 0.4rem;
  width: 100%;
}

.input-group label, .input-group select {
  display: block;
  margin-bottom: 5px;
  width: 100%;
}

.input-group input, .input-group select {
  /* width: 100%; */
  padding: 16px;
  /* border: 1px solid var(--primary-light); */
  border-radius: 8px;
  /* background-color: var(--white); */
  width: 100%;
  margin-bottom: 1rem;
}

.small-text {
  padding-top: 1.5rem;
}