.Profile {
    color: var(--tg-theme-text-color);
}

.email {
    font-size: 20px;
    font-weight: bold;
}

.pressables {
    margin-top: 2rem;
}
.pressables > button {
    color: var(--tg-theme-link-color);
    display: block;
    background-color: transparent;
    border: none;
    padding: 8px;
    width: 100%;
    text-align: left;
    border-radius: 6px;
    margin-bottom: 12px;
    cursor: pointer;
}