.App {
  display: flex;
  max-width: 400px;
  min-width: 300px;
  margin: auto;
  padding: 20px;
  min-height: 100vh;
  min-height: 100dvh;
}

.main {
  background-color: var(--accent-light);
  display: grid;
  place-items: center;
  /* background-color: var(--tg-color-scheme); */
}

label,
input,
button {
  font-size: 1rem;
}
