:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* --accent-light: #e8f0fc;
  --accent-light-hover: #dce9fa;
  --accent-light-active: #b6d2f5;
  --accent-normal: #156de0;
  --accent-dark: #1052a8;
  --accent-darker: #07264e;
  --white: #ffffff;
  --primary-light: #eaeaea;
  --primary-light-hover: #f8f8f8;
  --primary-light-active: #e6e6e6;
  --primary-normal: #292929;
  --grey: #737373; */

  /* color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-secondary-bg-color); */

  /* Delete Below Area - Experimenting */

  /* --tg-theme-bg-color: #ffffff;
  --tg-theme-text-color: #000000;
  --tg-theme-hint-color: #878787;
  --tg-theme-link-color: #1577e1;
  --tg-theme-button-color: #5ac8fb;
  --tg-theme-button-text-color: #e7fdfe;
  --tg-theme-secondary-bg-color: #f3f2f8; */

  /* Delete Above Area - Experimenting */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--tg-theme-link-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
select {
  color: var(--tg-theme-text-color);
}

input,
select {
  background-color: var(--tg-theme-bg-color);
}
