:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  /* color: rgba(255, 255, 255, 0.87); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* --accent-light: #e8f0fc;
  --accent-light-hover: #dce9fa;
  --accent-light-active: #b6d2f5;
  --accent-normal: #156de0;
  --accent-dark: #1052a8;
  --accent-darker: #07264e;
  --white: #ffffff;
  --primary-light: #eaeaea;
  --primary-light-hover: #f8f8f8;
  --primary-light-active: #e6e6e6;
  --primary-normal: #292929;
  --grey: #737373; */

  --accent-light: var(--tg-theme-hint-color);
  --accent-light-hover: #dce9fa;
  --accent-light-active: #b6d2f5;
  --accent-normal: #156de0;
  --accent-dark: #1052a8;
  --accent-darker: #07264e;
  --white: var(--tg-theme-secondary-bg-color);
  --primary-light: #eaeaea;
  --primary-light-hover: #f8f8f8;
  --primary-light-active: #e6e6e6;
  --primary-normal: #292929;
  --grey: #737373;
  color: var(--tg-theme-text-color);

  background-color: var(--accent-light);
  background-color: var(--tg-theme-secondary-bg-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  /* color: var(--accent-normal); */
  color: var(--tg-theme-link-color);
}
