.CustomButton {
    background-color: var(--accent-normal);
    padding: 1rem;
    color: var(--tg-theme-button-text-color);
    font-weight: bold;
    border: 1px solid var(--tg-theme-button-color);
    border-radius: 8px;
    width: 100%;
    cursor: pointer;
}

/* .CustomButton:hover {
    background-color: var(--accent-dark);
}

.CustomButton:active {
    background-color: var(--accent-darker);
} */

.SecondaryButton {
    background-color: var(--tg-theme-button-text-color);
    border: 1px solid var(--tg-theme-bg-color);
    color: var(--accent-normal);
}

/* .SecondaryButton:hover {
    background-color: var(--accent-light-hover);
}

.SecondaryButton:active {
    background-color: var(--accent-light-active);
} */
